.Storiescontainer{
    padding-left: 16px;
    padding-right: 16px;
}

.Stories h2,
.Storiescontainer h2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 32px;
}

.stories__content-cards{
    display: flex;
    justify-content: space-between;
}


.stories__card picture{
    display: block;
    padding: 20px 20px 16px;
}

.stories__card{
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 calc(33.33333% - 36px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-right: 36px;
    padding-bottom: 46px;
    max-width: 407px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

.stories__box-text{
    display: block;
    padding: 0 20px;
}


.stories__box-text .stories__title{
    display: block;
    padding: 0;
    margin: 0 0 24px;
    text-align: left;
    word-break: break-word;
    font-weight: 600;
    font-family: 'Santral bold', sans-serif;
    font-style: normal;
    font-size: 1.125rem;
}

.stories__box-text .stories__description{
    display: block;
    padding: 0;
    margin-bottom: 38px;
    font-size: .875rem;
    line-height: 24px;
    word-break: break-word;
}

.stories__box-text .links{
    font-weight: 400;
    font-style: normal;
    font-size: .875rem;
    color: #000;
    line-height: 1.71;
    font-weight: 400;
    font-style: normal;
    outline: 0;
    border: 1px solid transparent;
    display: inline-block;
}


@media screen and (max-width: 900px) {
    .stories__card>picture{
        padding: 8px;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
    }

    .stories__content-cards{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        display: flex;
    }
    .stories__content-cards>.stories__card{
        padding: 0;
        margin-right: 0;
        margin-bottom: 24px;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        max-width: inherit;
    }

    .stories__content-cards .stories__title{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 30.78px;
        font-weight: 600;
        font-family: 'Santral bold', sans-serif;
        font-size: 18px;
        max-width: 208.500px;
        padding: 8px;
        -webkit-box-flex: 0;
    }

    .Storiescontainer{
        padding-bottom: 62px;
    }

    .Storiescontainer h2{
        text-align: start;
        margin-bottom: 41px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .Storiescontainer .container-patter{
        padding: 0;
    }
}

@media screen and (min-width: 900px) {

}