.topbar {
    padding: 10px 14px;
    color: black;
    display: flex;
    background-color: #81d8d0;
    justify-content: space-between;
    align-items: center;
}

.shop-at-us{
    font-style:normal;
    text-decoration: underline;
    font-weight: 400;
    font-style: normal;
    font-size: .875rem;
}

.topbar__groupshop-shop-at-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.topbar__groupshop-shop-at-us .links{
    font-size: .875rem;
}

.shop-at-us__or{
    font-size: .875rem;
    color: #000;
    line-height: 1.71;
    letter-spacing: normal;
    font-weight: 300;
    font-style: normal;
}

.topbar>div>p{
    font-size: .875rem;
    color: #000;
    line-height: 1.71;
    letter-spacing: normal;
    font-weight: 300;
    font-style: normal;
}