a.group-text__link::after {
    display: block;
    content: '';
    border-bottom: solid 1px #019fb6;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 250ms ease-in-out;
}

a.group-text__link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}


a.group-text__link {
    display: inline-block;
    margin: 0;
    color: #000;
    box-shadow: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.banner-bg {
    min-height: 472px;
    background-size: 100%;
    background-position: center center;
}

.group-text {
    max-width: 320px;
    height: fit-content;
}

.container.banner-bg{
    background-repeat: no-repeat;
}


.container.banner-bg>.container-patter {
    display: flex;
    min-height: 472px;
    align-items: center;
}

body .loveyourWay{
    margin-top: 100px;
    margin-bottom: 80px;
}


@media screen and (max-width: 900px) {
    body .fromthesourcecontainer .fromthesourcecontainer-group-text,
    body .loveyourWay .loveyourWay-group-text{
        max-width: 100%;
        padding-top: 8px;
    }

    .loveyourWaycontainer{
        padding-bottom: 56px;
        padding-top: 40px;
    }


    .fromthesourcecontainer{
        padding-bottom:20px;
    }
}