.d-flex.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.container-cards,
.group-powered-developed-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-cards {
    margin-top: 110px;
}

.links {
    display: inline-block;
    margin: 0;
    box-shadow: none;
}

.links::after {
    display: block;
    content: '';
    border-bottom: solid 1px #019fb6;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 250ms ease-in-out;
}

.links:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

body.block {
    position: relative;
    overflow: hidden;
}

.icon-dropdown-right::before {
    position: relative;
    content: "";
    background-image: url(https://img.icons8.com/?size=512&id=7404&format=png);
    height: 16px;
    width: 13px;
    background-size: 100%;
    display: block;
    padding-top: 3px;
    background-repeat: no-repeat;
    background-position: bottom center;
    float: right;
    margin-left: 8px;
}

.MidBanners .icon-dropdown-right::before,
.fromthesource-group-text__link>.icon-dropdown-right::before {
    padding-top: 2px;
}

@media screen and (max-width: 900px) {
    .MidBanners.container-patter {
        padding: 0;
    }

    .MidBanners .list-products>picture {
        max-width: fit-content;
        align-items: start;
    }

    .container.instafeed>h3,
    .container.vitrine>h3,
    .container.centerbanners>h3,
    .container.minibanners>h3 {
        margin-top: 20px;
        margin-bottom: 24px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        letter-spacing: 0.1em;
        color: #000000;
    }

    .box-blocks>.footer__block-left {
        padding-bottom: 24px;
    }

    .container-cards {
        padding: 0 16px;
    }

    .MidBanners>.list-products a,
    .MidBanners>.list-products h4 {
        padding-left: 24px;
    }

}

@media screen and (max-width: 1000px) {
    body.block::after {
        display: none;
    }
}

@media screen and (max-width: 1600px) {

    body.block::after {
        content: "";
        position: fixed;
        top: 0;
        right: 418px;
        background: rgba(0, 0, 0, .5);
        width: calc(100vw - 418px);
        height: 100vh;
        z-index: 1000;
    }
}

@media screen and (min-width: 900px) {

    .container.instafeed>h3,
    .container.vitrine>h3,
    .container.centerbanners>h3,
    .container.minibanners>h3 {
        margin-top: 40px;
        margin-bottom: 44px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.1em;
        color: #000000;
    }
}