.block1>h4,
.block2>h4,
.block3>h4 {
    font-family: 'Santral bold', sans-serif;
    font-size: .875rem;
    color: #000;
    line-height: 24px;
    letter-spacing: normal;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 0;
    white-space: nowrap;
}

.links-footer {
    font-family: 'Santral Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11.7368px;
    line-height: 19px;
    color: #000000;
}


.container>.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Santral Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #828282;
    margin-bottom: 5px;
    margin-top: 15px;
}

.container-footerLinks {
    padding-top: 63px;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 8px solid #81d8d0;
}

.block1,
.block2,
.block3 {
    max-width: 240px;
}


.block1 .BlockLinks,
.block2 .BlockLinks,
.block3 .BlockLinks {
    padding-top: 24px;
    margin-top: 0;
}

.block1 .BlockLinks button.links.links-footer,
.block2 .BlockLinks button.links.links-footer,
.block3 .BlockLinks button.links.links-footer {
    margin-bottom: 16px;
    text-align: start;
}

.footer__mw-block4 {
    max-width: 285px;
}

.group-powered-developed-by {
    gap: 30px;
}

.footer__socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__mw-block4.text4 {
    font-size: .75rem;
    color: #000;
    line-height: 16px;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 32px;
    padding-top: 24px;
}

#email-footer {
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    outline: 0;
    height: 1rem;
    width: 100%;
    font-size: .875rem;
    margin: 0;
    padding: 6px 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 300;
    font-style: normal;
}

.button-signup {
    font-family: 'Santral bold', sans-serif;
    padding: 8px 52px;
    max-height: none;
    height: auto;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-style: normal;
    margin: 24px 0;
}

.Footer__ListBreadCrumb {
    font-family: 'Santral bold', sans-serif;
    font-size: .875rem;
    color: #000;
    line-height: 1.71;
    font-weight: 600;
    font-style: normal;
    padding: 16px 0;
    border-top: 2px solid #81d8d0;
    text-align: center;
}

.mobile.footer-open {
    position: relative;
    overflow: auto;
    animation-duration: 500ms;
    animation-name: slideOnTop;
}

.mobile.footer-close {
    display: none;
}

.eventnone {
    position: relative;
    display: inline-block;
    pointer-events: none;
}

@media screen and (max-width: 900px) {

    .block4 .BlockLinks {
        padding-left: 0;
    }

    .BlockLinks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
    }

    .block2>h4,
    .block3>h4 {
        padding-top: 24px;
    }

    .block1,
    .block2,
    .block3 {
        padding-left: 16px;
    }

    .block4>h4,
    .block4>.BlockLinks> :not(.footer__socials) {
        display: none;
    }

    .block4 {
        width: 100%;
        max-width: 100vw;
    }
}

@media screen and (min-width: 900px) {
    .box-blocks {
        display: flex;
        justify-content: space-between;
    }

    .BlockLinks {
        width: 100%;
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__block-left {
        width: 72%;
        display: flex;
    }

    .block4 {
        width: 25%;
    }

    .block1,
    .block2,
    .block3 {
        padding-left: 32px;
        padding-right: 32px;
    }
}